.link:not(.icon) {
  transition: .4s;
  font-weight: 200;
  border-bottom: 3px solid transparent;

  &:hover {
    border-color: rgba(83, 72, 120, 1);
  }
}

img.icon {
  border: 3px solid rgba(83, 72, 120, 1);
  padding: 4px;
  transition: .4s;


  &:hover {
    border-color: white;
  }
}
